
@model List<TurSitesi.EntityLayer.Zimmet>

@{
    ViewBag.Title = "Listele";
}

<h2>Tur Görevli Listele</h2>
<hr />
<a href="@Url.Action("Ekle")" class="btn btn-primary">Ekle</a>
<br />
<br />
<table class="table table-striped">
    <tr>

        <th>Calisan</th>

        <th>Tur</th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>

    <td>@item.Calisan.AdSoyad</td>
    <td>@item.Tur.Ad</td>
    <td>
        <a href="@Url.Action("Sil", new { id = item.Id })" class="btn btn-danger">Sil</a>
        <a href="@Url.Action("Guncelle",new { id = item.Id })" class="btn btn-info">Güncelle</a>
    </td>
</tr>
    }
</table>


