@model TurSitesi.EntityLayer.Tur

@{
    ViewBag.Title = "Ekle";
}

<h2>Tur  Ekle</h2>
<hr />
@using (Html.BeginForm("Ekle", "Tur", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationMessage("", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(x => x.Ad, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.Ad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.kategori, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(x => x.KategoriId, ViewBag.Kategoriler as SelectList, "Kategori Seçiniz", new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.KategoriId, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <a href="@Url.Action("Listele")" class="btn btn-default">İptal</a>
            <button type="submit" class="btn btn-success">Kaydet</button>
        </div>
    </div>
}

