@model List<TurSitesi.EntityLayer.Kullanıcı>
@{
    ViewBag.Title = "Listele";
}

<h2>Kullanıcı Listele</h2>
<hr />
<a href="@Url.Action("Ekle")" class="btn btn-primary">Ekle</a>
<br />
<br />
<table class="table table-striped">
    <tr>
        <th>EPosta</th>
        <th>Parola</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Yetki</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EPosta</td>
            <td>@item.Parola</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Yetki</td>
            <td>
                <a href="@Url.Action("Sil", new { eposta = item.EPosta })" class="btn btn-danger">Sil</a>
                <a href="@Url.Action("Guncelle",new { eposta = item.EPosta })" class="btn btn-info">Güncelle</a>
            </td>
        </tr>
    }
</table>

